/** {
  border: 1px solid red;
}*/

body {
  white-space: nowrap;
}

main {
  margin: 30px;
}

input {
  width: 70px;
}

.rzslider {
  width: 50%;
  display: inline-block;
}

section {
  width: 240px;
  display: inline-block;
}

.divider {
  padding: 40px;
}

space {
  display: inline-block;
  width: 100px;
}

/* Media Queries */

@media (max-width: 767px) {
  section {
    display: block;
  }

  rzslider {
    display: block;
  }

  space {
    display: none;
  }

  height {
    display: block;
    height: 40px;
  }

  .divider {
    padding: 60px;
  }

}
