/*.bluebackground {
  background-color: rgb(136, 198, 236) !important;
  color: rgb(60, 96, 163);
}
*/
canvas {
  padding-right: 40px;
}

.floatleft {
  display: flex;
  justify-content: space-around;
}

.rightwidth {
  width: 50vw;
}

.space {
  padding: 5px;
}

input[type=text] {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(60, 96, 163);
  background-color: white;
  border-radius: 5px;
  width: 60px;
}

input[type=range] {
  display: inline-block;
  margin-top: 15px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 36px;
  width: 16px;
  border-radius: 50%;
  background: red;
  margin-top: -4px;
}

.heading {
  font-size: 16px;
}

