canvas {
  padding-right: 40px;
}

.floatleft {
  float: left;
}

.rightwidth {
  width: 50vw;
}

.space {
  padding: 10px;
}

input[type=text] {
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0);
}

input[type=range]{
  margin-top: 15px;
}

.heading {
  font-size: 16px;
}

