<div class="left">
  <p>
    Lorem ipsum dolor sit amet,
      <span class="helper" ng-mouseover="a = true" ng-mouseleave="a = false">helper</span>
    <span class="bubble" ng-show="a"><span class="term-head">Helper</span>
      You are currently hovering over the helper word. The term page can help you discover meaning in complex terms!
    </span>
    adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation <span class="helper" ng-mouseover="c = true" ng-mouseleave="c = false">COGS</span> ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit <span class="helper" ng-mouseover="acc = true" ng-mouseleave="acc = false">Accounting</span> cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia <span class="helper" ng-mouseover="carey = true" ng-mouseleave="carey = false">Carey Chico!</span>  mollit anim id est laborum.
  </p>
</div>

<div class="helpMenu"></div>
