<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Demo Particle System</title>
  <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body> -->
  {{vm.title}}
  <div>
    <canvas id="canvas"></canvas>
  </div>
  <div>
    <button ng-click="vm.createParticle()">One</button>
  </div>
  <div>
    <button ng-click="vm.stream()">Stream</button>
  </div>

  <div class="space">
  </div>

  <div>
    <strong>Monthly Spend:</strong>
  </div>
  <div>
    <input type="range" min="0" max="1000" step="1" ng-model="vm.monthlySpendVal" ng-change="vm.updateUsers()">
  </div>
  <div>
    ${{vm.monthlySpendVal}}
  </div>

  <div class="space">
  </div>

  <div>
    <strong>Average CPM:</strong>
  </div>
  <div>
    <input type="range" min="0" max="100" step="1" ng-model="vm.cpmVal" ng-change="vm.updateUsers()">
  </div>
  <div>
    ${{vm.cpmVal}}
  </div>

  <div class="space">
  </div>

  <div>
    Total web visits: {{vm.cpmVal * vm.monthlySpendVal}}
  </div>

  <div class="space">
  </div>

  <div>
    <strong>Conversion Rate:</strong>
  </div>
  <div>
    <input type="range" min="0" max="100" step="1" ng-model="vm.conversionRate" ng-change="vm.updateUsers()">
  </div>
  <div>
    {{vm.conversionRate}}%
  </div>

  <div class="space">
  </div>

  <div>
    Monthly active users: {{vm.monthlyActiveUsers}}
  </div>

  <div class="space">
  </div>

  <div>
    <strong>Churn:</strong>
  </div>
  <div>
    <input type="range" min="0" max="100" step="1" ng-model="vm.churnVal" ng-change="vm.updateUsers()">
  </div>
  <div>
    {{vm.churnVal}}%
  </div>

  <div class="space">
  </div>

  <div>
    User loss: {{vm.userLoss}}
  </div>

<!-- </body>
</html> -->
