<div class="help-window">
  <div class="help-top">
    Terms
  </div>
  <div class="help-bottom">
    <p ng-show="a">
      <span class="term-head">Helper</span>
      You are currently hovering over the helper word. The term page can help you discover meaning in complex terms!
    </p>
    <p ng-show="c">
      <span class="term-head">COGS</span>
      Cost of goods sold (COGS) are the direct costs attributable to the production of the goods sold by a company. This amount includes the cost of the materials used in creating the good along with the direct labor costs used to produce the good.
    </p>
    <p ng-show="acc">
      <span class="term-head">Accounting</span>
      Accounting is the systematic and comprehensive recording of financial transactions pertaining to a business, and it also refers to the process of summarizing, analyzing and reporting these transactions to oversight agencies and tax collection entities.
    </p>
    <p ng-show="carey">
      <span class="term-head">Carey</span>
      This is one possible solution for this module opposed to word bubbles.
    </p>
  </div>
</div>
